:root {
  --main-color: #080708;
  --secondary-color: #F1F0CC;
  --white-color: #F1F0CC;
  
  --tab-selected-bgcolor: #f1f0cc;
  --transparent-color: transparent;
  --hover-bgcolor: #cda9f18f;
}

* {
  font-family: Source Code Pro, Consolas, Courier, monospace;
}

html,
body {
  color: var(--secondary-color) !important;
  --tab-shadow-max-size: 0px !important;
  --tab-block-margin: 0px !important;
}

#bookmarks-menu,
tab {
  font-size: 12px !important;
}

::-moz-placeholder {
  color: red;
  opacity: 0 !important;
  display: none !important;
}

#urlbar {
  font-size: 12px !important;
  color: var(--white-color) !important;
  font-family: Source Code Pro, Consolas, Courier, monospace;
  background-color: var(--main-color);
}

#urlbar-input-container:focus {
  padding: 0 !important;
}

#searchbar {
  font-size: 12px !important;
  color: var(--white-color) !important;
}

#PersonalToolbar,
#navigator-toolbox,
#nav-bar-customization-target,
#PanelUI-menu-button,
#urlbar-background,
#urlbar:focus,
#urlbar-input {
  background-color: var(--main-color) !important;
  color: var(--secondary-color) !important;
}

#identity-box {
  background-color: var(--main-color) !important;
  margin: 0;
}

.titlebar-close {
  list-style-image: url(img/red-circle.png) !important;
  padding: 0px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.titlebar-close:hover {
  list-style-image: url(img/red-circle-hover.png) !important; /* Image on hover */
}

.titlebar-max,
.titlebar-restore {
  list-style-image: url(img/green-circle.png) !important;
  margin-left: 20px !important;
  padding: 0 !important;
}

.titlebar-max:hover,
.titlebar-restore:hover {
  list-style-image: url(img/green-circle-hover.png) !important; /* Image on hover */
}

.titlebar-min {
  -moz-default-appearance: -moz-window-button-maximize;
  list-style-image: url(img/yellow-circle.png) !important;
  padding: 0 !important;
}

.titlebar-min:hover {
  list-style-image: url(img/yellow-circle-hover.png) !important; /* Image on hover */
}

.titlebar-button {
  & > .toolbarbutton-icon {
    width: 20px !important;
    height: 20px !important;
  }
}


.titlebar-button:hover {
  background-color: var(--transparent-color) !important;
  border-radius: 10px !important;
}

tab:is([visuallyselected], [multiselected]) {
  color: var(--secondary-color) !important;
  background-color: var(--main-color) !important;
}

:root:not(:-moz-lwtheme) {
  --tab-selected-bgcolor: var(--tab-selected-bgcolor) !important;
}

#import-button {
  display: none;
}

#PlacesToolbarItems toolbarbutton image {
  display: none !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
  &:not([disabled], [open]):hover {
    background-color: var(--hover-bgcolor) !important;
  }
}